[dir=ltr] .test, [dir=rtl] .test2 {
    left-color: tomato
}

[dir=ltr] .test3, [dir=rtl] .test4 {
    dummy-left-color: tomato
}

[dir=ltr] .test5, [dir=rtl] .test6 {
    dummy-left: tomato
}

[dir=ltr] .test2, [dir=rtl] .test {
    right-color: tomato
}

[dir=ltr] .test4, [dir=rtl] .test3 {
    dummy-right-color: tomato
}

[dir=ltr] .test6, [dir=rtl] .test5 {
    dummy-right: tomato
}
