.test {
    margin-top: 1px;
    margin-bottom: 1px;
}

[dir="ltr"] .test {
    margin-right: 1px;
}

[dir="rtl"] .test {
    margin-left: 1px;
}

[dir="ltr"] .test {
    margin-left: 1px;
}

[dir="rtl"] .test {
    margin-right: 1px;
}
