.test {
    border-top: solid 1px tomato;
    border-bottom: solid 4px tomato;
}

[dir="ltr"] .test {
    border-right: solid 2px tomato;
}

[dir="rtl"] .test {
    border-left: solid 2px tomato;
}

[dir="ltr"] .test {
    border-left: solid 3px tomato;
}

[dir="rtl"] .test {
    border-right: solid 3px tomato;
}
