.test {
    border-top-color: #0ff;
    border-right-color: #ff00ff;
    border-bottom-color: #0ff;
    border-left-color: #ff00ff;
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 2px;
    border-top-style: dotted;
    border-right-style: dashed;
    border-bottom-style: dotted;
    border-left-style: dashed;
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 2px
}

[dir="rtl"] .test {
    border-left-color: #ff00ff;
    border-right-color: #ff00ff;
    border-top-right-radius: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 2px;
    border-left-style: dashed;
    border-right-style: dashed;
    border-left-width: 2px;
    border-right-width: 2px
}