.test {
    border-top-color: #0ff;
    border-right-color: #0ff;
    border-bottom-color: #0ff;
    border-left-color: #0ff;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

[dir="rtl"] .test {
    border-left-color: #0ff;
    border-right-color: #0ff;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-left-style: dotted;
    border-right-style: dotted;
    border-left-width: 1px;
    border-right-width: 1px
}