[dir=ltr] .test {
    border-right: solid 1px tomato
}

[dir=rtl] .test {
    border-left: solid 1px tomato
}

[dir=ltr] .test2 {
    border-right-width: 1px
}

[dir=rtl] .test2 {
    border-left-width: 1px
}

[dir=ltr] .test2 {
    border-right-color: tomato
}

[dir=rtl] .test2 {
    border-left-color: tomato
}

[dir=ltr] .test2 {
    border-right-style: solid
}

[dir=rtl] .test2 {
    border-left-style: solid
}

[dir=ltr] .test2 {
    border-top-right-radius: 1px
}

[dir=rtl] .test2 {
    border-top-left-radius: 1px
}

[dir=ltr] .test2 {
    border-bottom-right-radius: 2px
}

[dir=rtl] .test2 {
    border-bottom-left-radius: 2px
}
