.test, .test-with-one-element-list {
    lorem-top: tomato;
    lorem-bottom: gray
}

.test-with-three-elements-list, .test-with-two-elements-list {
    lorem-top-ipsum: tomato;
    lorem-bottom-ipsum: gray
}

[dir=rtl] .test {
    lorem-left: green
}

[dir=ltr] .test {
    lorem-right: green;
    lorem-left: #ff0
}

[dir=rtl] .test {
    lorem-right: #ff0
}

[dir=rtl] .test-with-one-element-list {
    lorem-left: green
}

[dir=ltr] .test-with-one-element-list {
    lorem-right: green;
    lorem-left: #ff0
}

[dir=rtl] .test-with-one-element-list {
    lorem-right: #ff0
}

[dir=rtl] .test-with-two-elements-list {
    lorem-left-ipsum: green
}

[dir=ltr] .test-with-two-elements-list {
    lorem-right-ipsum: green;
    lorem-left-ipsum: #ff0
}

[dir=rtl] .test-with-two-elements-list {
    lorem-right-ipsum: #ff0
}

[dir=rtl] .test-with-three-elements-list {
    lorem-left-ipsum: green
}

[dir=ltr] .test-with-three-elements-list {
    lorem-right-ipsum: green;
    lorem-left-ipsum: #ff0
}

[dir=rtl] .test-with-three-elements-list {
    lorem-right-ipsum: #ff0
}
