.test {
    lorem-top: tomato;
    lorem-right: green;
    lorem-bottom: gray;
    lorem-left: #ff0
}

[dir="rtl"] .test {
    lorem-left: green;
    lorem-right: #ff0
}

.test-with-one-element-list {
    lorem-top: tomato;
    lorem-right: green;
    lorem-bottom: gray;
    lorem-left: #ff0
}

[dir="rtl"] .test-with-one-element-list {
    lorem-left: green;
    lorem-right: #ff0
}

.test-with-two-elements-list {
    lorem-top-ipsum: tomato;
    lorem-right-ipsum: green;
    lorem-bottom-ipsum: gray;
    lorem-left-ipsum: #ff0
}

[dir="rtl"] .test-with-two-elements-list {
    lorem-left-ipsum: green;
    lorem-right-ipsum: #ff0
}

.test-with-three-elements-list {
    lorem-top-ipsum: tomato;
    lorem-right-ipsum: green;
    lorem-bottom-ipsum: gray;
    lorem-left-ipsum: #ff0
}

[dir="rtl"] .test-with-three-elements-list {
    lorem-left-ipsum: green;
    lorem-right-ipsum: #ff0
}
