@mixin rtl-sass-declaration($property, $leftToRightValue, $rightToLeftValue) {
  @if ($property == null) {
    @error "parameter $property can't be null in call to Mixin rtl-sass-declaration";
  }

  @if ($leftToRightValue == null and $rightToLeftValue == null) {
    @error "parameters $leftToRightValue and $rightToLeftValue can't both be null in call to Mixin rtl-sass-declaration";
  }

  @if ($leftToRightValue != null) {
    [dir="ltr"] & {
      #{$property}: $leftToRightValue;
    }
  }

  @if ($rightToLeftValue != null) {
    [dir="rtl"] & {
      #{$property}: $rightToLeftValue;
    }
  }
}

@mixin rtl-sass-declaration-1-to-4($property, $one, $two: null, $three: null, $four: null) {
  @if ($property == null) {
    @error "parameter $property can't be null in call to Mixin rtl-sass-declaration-1-to-4";
  }

  @if ($one == null) {
    @error "parameter $one can't be null in call to Mixin rtl-sass-declaration-1-to-4";
  }

  // one only => all
  $topValue: $one;
  $rightValue: $one;
  $bottomValue: $one;
  $leftValue: $one;

  @if ($one != null and $two != null and $three == null and $four == null) {
    // one and two only => vertical and horizontal
    $topValue: $one;
    $rightValue: $two;
    $bottomValue: $one;
    $leftValue: $two;
  } @else if ($one != null and $two != null and $three != null and $four == null) {
    // one, two and three only => top, horizontal and bottom
    $topValue: $one;
    $rightValue: $two;
    $bottomValue: $three;
    $leftValue: $two;
  } @else if ($one != null and $two != null and $three != null and $four != null) {
    // all
    $topValue: $one;
    $rightValue: $two;
    $leftValue: $three;
    $bottomValue: $four;
  }

  #{$property}-top: $topValue;
  @include rtl-sass-declaration(#{$property}-right, $rightValue, null);
  @include rtl-sass-declaration(#{$property}-left, null, $rightValue);
  #{$property}-bottom: $bottomValue;
  @include rtl-sass-declaration(#{$property}-left, $leftValue, null);
  @include rtl-sass-declaration(#{$property}-right, null, $leftValue);
}

@mixin rtl-sass-declaration-value($property, $leftToRightValue) {
  @if ($property == null) {
    @error "parameter $property can't be null in call to Mixin rtl-sass-declaration-value";
  }

  @if ($leftToRightValue == null) {
    @error "parameter $leftToRightValue can't be null in call to Mixin rtl-sass-declaration-value";
  }

  $rightToLeftValue: $leftToRightValue;

  @if ($leftToRightValue == left) {
    $rightToLeftValue: right;
  } @else if ($leftToRightValue == right) {
    $rightToLeftValue: left;
  }

  @include rtl-sass-declaration(#{$property}, $leftToRightValue, $rightToLeftValue);
}