@mixin rtl-sass-declaration($property, $leftOrRight, $suffix, $value) {
  @if ($leftOrRight == null) {
    @error "parameter $leftOrRight can't be null in call to Mixin rtl-sass-declaration";
  }

  @if ($value == null) {
    @error "parameter $value can't be null in call to Mixin rtl-sass-declaration";
  }

  $opposite: right;

  @if ($leftOrRight == right) {
    $opposite: left;
  }

  [dir="ltr"] & {
    #{$property}#{$leftOrRight}#{$suffix}: $value;
  }

  [dir="rtl"] & {
    #{$property}#{$opposite}#{$suffix}: $value;
  }
}

@mixin rtl-sass-declaration-value($property, $value) {
  @if ($property == null) {
    @error "parameter $property can't be null in call to Mixin rtl-sass-declaration-value";
  }

  @if ($value == null) {
    @error "parameter $value can't be null in call to Mixin rtl-sass-declaration-value";
  }

  [dir="ltr"] & {
    #{$property}: $value;
  }

  [dir="rtl"] & {
    @if ($value == left) {
      #{$property}: right;
    } @else if ($value == right) {
      #{$property}: left;
    } @else {
      #{$property}: $value;
    }
  }
}

@mixin rtl-sass-declaration-1-to-4($property, $one, $two: null, $three: null, $four: null) {
  @if ($property == null) {
    @error "parameter $property can't be null in call to Mixin rtl-sass-declaration-1-to-4";
  }

  @if ($one == null) {
    @error "parameter $one can't be null in call to Mixin rtl-sass-declaration-1-to-4";
  }

  // one only => all
  $topValue: $one;
  $rightValue: $one;
  $bottomValue: $one;
  $leftValue: $one;

  @if ($one != null and $two != null and $three == null and $four == null) {
    // one and two only => vertical and horizontal
    $topValue: $one;
    $rightValue: $two;
    $bottomValue: $one;
    $leftValue: $two;
  } @else if ($one != null and $two != null and $three != null and $four == null) {
    // one, two and three only => top, horizontal and bottom
    $topValue: $one;
    $rightValue: $two;
    $bottomValue: $three;
    $leftValue: $two;
  } @else if ($one != null and $two != null and $three != null and $four != null) {
    // all
    $topValue: $one;
    $rightValue: $two;
    $leftValue: $three;
    $bottomValue: $four;
  }

  #{$property}top: $topValue;
  @include rtl-sass-declaration($property, right, null, $rightValue);
  #{$property}bottom: $bottomValue;
  @include rtl-sass-declaration($property, left, null, $leftValue);
}

/**********/
/* border */
/**********/
// left
@mixin rtl-sass-border-left($value) {
  @include rtl-sass-declaration(border-, left, null, $value);
}

@mixin rtl-sass-border-left-color($value) {
  @include rtl-sass-declaration(border-, left, -color, $value);
}

@mixin rtl-sass-border-left-style($value) {
  @include rtl-sass-declaration(border-, left, -style, $value);
}

@mixin rtl-sass-border-left-width($value) {
  @include rtl-sass-declaration(border-, left, -width, $value);
}

@mixin rtl-sass-border-top-left-radius($value) {
  @include rtl-sass-declaration(border-top-, left, -radius, $value);
}

@mixin rtl-sass-border-bottom-left-radius($value) {
  @include rtl-sass-declaration(border-bottom-, left, -radius, $value);
}

// right
@mixin rtl-sass-border-right($value) {
  @include rtl-sass-declaration(border-, right, null, $value);
}

@mixin rtl-sass-border-right-color($value) {
  @include rtl-sass-declaration(border-, right, -color, $value);
}

@mixin rtl-sass-border-right-style($value) {
  @include rtl-sass-declaration(border-, right, -style, $value);
}

@mixin rtl-sass-border-right-width($value) {
  @include rtl-sass-declaration(border-, right, -width, $value);
}

@mixin rtl-sass-border-top-right-radius($value) {
  @include rtl-sass-declaration(border-top-, right, -radius, $value);
}

@mixin rtl-sass-border-bottom-right-radius($value) {
  @include rtl-sass-declaration(border-bottom-, right, -radius, $value);
}

@mixin rtl-sass-border($one, $two: null, $three: null, $four: null) {
  @include rtl-sass-declaration-1-to-4(border-, $one, $two, $three, $four);
}

// margin
@mixin rtl-sass-margin-left($value) {
  @include rtl-sass-declaration(margin-, left, null, $value);
}

@mixin rtl-sass-margin-right($value) {
  @include rtl-sass-declaration(margin-, right, null, $value);
}

@mixin rtl-sass-margin($one, $two: null, $three: null, $four: null) {
  @include rtl-sass-declaration-1-to-4(margin-, $one, $two, $three, $four);
}

// padding
@mixin rtl-sass-padding-left($value) {
  @include rtl-sass-declaration(padding-, left, null, $value);
}

@mixin rtl-sass-padding-right($value) {
  @include rtl-sass-declaration(padding-, right, null, $value);
}

@mixin rtl-sass-padding($one, $two: null, $three: null, $four: null) {
  @include rtl-sass-declaration-1-to-4(padding-, $one, $two, $three, $four);
}

// positioning
@mixin rtl-sass-left($value) {
  @include rtl-sass-declaration(null, left, null, $value);
}

@mixin rtl-sass-right($value) {
  @include rtl-sass-declaration(null, right, null, $value);
}

// text-align
@mixin rtl-sass-text-align($value) {
  @include rtl-sass-declaration-value(text-align, $value);
}

// float
@mixin rtl-sass-float($value) {
  @include rtl-sass-declaration-value(float, $value);
}